{% load static %}
<div class="about_section layout_padding">
  <div class="container">
     <div class="about_section_2">
        <div class="row">
           <div class="col-md-6"> 
              <div class="about_taital_box">
                 <h1 class="about_taital">About Our shop</h1>
                 <h1 class="about_taital_1">Coffee distribution </h1>
                 <p class=" about_text" style="text-align:Justify;">Coffee distribution is a multi-stage process that begins with coffee farmers growing and harvesting beans in tropical regions. After processing, the green (unroasted) beans are exported to importing countries, where they are roasted to develop different flavor profiles. The roasted coffee is then distributed through wholesalers, retailers, or direct-to-consumer channels, including online platforms. Finally, consumers can purchase the coffee from grocery stores, coffee shops, or brew it at home. The process involves a global supply chain, emphasizing freshness, quality, and sustainability at every stage, from production to consumption.</p>
                 <div class="readmore_btn"><a href="#">Read More</a></div>
              </div>
           </div>
           <div class="col-md-6"> 
              <div class="image_iman"><img src="{% static 'images/about-img.png'%}" class="about_img"></div>
           </div>
        </div>
     </div>
  </div>
</div>