{% load static %}
<div class="footer_section layout_padding">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="footer_social_icon">
              <ul>
                 <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                 <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                 <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                 <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
           </div>
           <div class="location_text">
              <ul>
                 <li>
                    <a href="#">
                    <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">9807890662</span>
                    </a>
                 </li>
                 <li>
                    <a href="#">
                    <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">Coffeedelight@gmail.com</span>
                    </a>
                 </li>
              </ul>
           </div>
           <div class="form-group">
            <form method="post" action="" class="email" style="display: flex; align-items: center;justify-content: center; gap: 10px; margin: 10px 0;">
               {% csrf_token %}
               <input type="email" class="update_email" placeholder="Your email" id="email" name="email_required" style="padding: 30px; border: 1px solid #ccc; align-items: center; border-radius: 5px; flex: 1;"/>
               <button type="submit" class="subscribe_button" style="background-color: #007BFF; color: white; border: none; border-radius: 5px; padding: 10px 15px; cursor: pointer;">
                   <i class="fa fa-arrow-right" aria-hidden="true" style="font-size: 16px;"></i>
               </button>
            </form>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="copyright_section">
  <div class="container">
     <div class="row">
        <div class="col-sm-12">
           <p class="copyright_text">2024 All Rights Reserved @ <span>Coffee Delight</span>
           </p>
        </div>
     </div>
  </div>
</div>
