      {% block layout %}
      {% include "layout.html" %}
      {% endblock layout %}
      
      {% block head %}
      {% include "head.html" %}
      {% endblock head %}

      {% block coffee %}
      {% include 'coffee.html'%}
      {% endblock coffee%}
      
      {% block blog %}
      {% include "blog.html" %}
      {% endblock blog %}
     
      {% block about %}
      {% include "aboutus.html" %}
      {% endblock about %}
      
      {% block contact %}
      {% include "contact.html" %}
      {% endblock contact %}
      
      {% block footer %}
      {% include "footer.html" %}
      {% endblock footer %}
      
      {% block script %}
      {% include "script.html" %}
      {% endblock script %}
      